LIVEKIT_URL=wss://voice-bot-8icrnw3e.livekit.cloud
LIVEKIT_API_KEY=APIwCScoTTDtVwU
LIVEKIT_API_SECRET=TeOa3OY1pjX9enQGbfsUzSClNqXe1RhisuU7jQDRlAtA


MONGO_URI=""
 

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=

LANGCHAIN_PROJECT=voice-agent

